# Default ignored files
/shelf/
/.idea/
# Datasource local storage ignored files
/dataSources.local.xml
/Google2.domotica.iml
# Editor-based HTTP Client requests
/httpRequests/
/target/
/out/